body {
    display: flex;
    flex-direction: column;
    background-color: deeppink;
}

main {
    display: flex;
    flex-direction: row; 
    flex: auto;
    background-color: pink;
}

article {
    flex: 2; 
    overflow-y: auto;
    text-align: center;
}

aside {
    flex: 1;
    overflow-y: auto;
}
